body {
  font-family: helvetica;
  font-size: 16px;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
  margin: 0;
  margin-top: $base-unit;
  list-style: none;
  transform: rotate(180deg);

  li {
    margin-bottom: $base-unit;
    transform: rotate(-180deg);

    &:before {
      content: "•";
      display: inline-block;
      padding-right: $base-unit;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
