@mixin grab-cursor {
  cursor: url('https://www.google.com/intl/en_ALL/mapfiles/openhand.cur'), all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

@mixin grabbing-cursor {
  cursor: url('https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur'), all-scroll;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: rotate(180deg);
}

$button-size: 18px;

.list__remove-button {
  position: absolute;
  right: $base-unit;
  top: 50%;
  opacity: 0;
  height: $button-size;
  width: $button-size;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  transform: translateY(-50%);

  img {
    height: 100%;
    width: 100%;
    transition: transform 0.1s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.list__item {
  display: flex;
  padding: $base-unit;
  padding-right: $base-unit * 5;
  transform: rotate(-180deg);
  background-color: $white;

  &:hover {
    .list__remove-button {
      opacity: 1;
    }

    .list__dots {
      opacity: 0.8;
    }
  }

  .list__dots {
    flex-basis: $base-unit * 2;
    width: $base-unit * 2;
    height: $base-unit * 2;
    margin-top: 2px;
    margin-right: $base-unit * 2;
    transition: opacity 0.1s ease;
    opacity: 0.3;
    flex-shrink: 0;
  }
}

.list__item--dragged-over {
  background-color: darken($white, 3%);
  color: darken($white, 3%);

  &:after {
    position: absolute;
  }
}

[draggable] {
  @include grab-cursor;

  &:active {
    @include grabbing-cursor;
  }
}
