@import url('https://fonts.googleapis.com/css?family=Yellowtail');

.navbar {
  background-color: $crazy-blue-dark;
  text-align: center;
}

.navbar__brand {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $crazy-blue-light;
  font-size: 40px;
  font-family: 'Yellowtail';
}
