$black:               #000000;
$white:               #ffffff;
$dark-gray:           #24292e;
$gray:                #4e4e4e;
$light-gray:          #dddddd;
$green:               #6cc644;
$crazy-blue-dark:     #002040;
$crazy-blue:          #51a7e8;
$crazy-blue-light:    #f4f8fc;

$base-unit:   8px;
